body{
    margin: auto;
    width: 100%;
    background-color:#eee;
}

#header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    opacity: 1;
    background-color:#eee;
}
#header-img{
    width: 25%;
    height: 25%;
}
#nav-bar{
    width: 25%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a{
    font-size: 0.5em;
    text-decoration: none;
    color: black;
}
.nav-link{
    margin: 0px;
    padding: 0px;
}
#form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputEmail{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.get_started{
    background-color: yellow;
    font-weight: bold;
    border: none;
    width: 30%;
    margin-top: 10px;
}
#Features{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    width: 10%;
}
.ourfeature{
    width:80% ;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-between;
    flex-wrap: wrap;  
}
.summary{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: flex-start;
    width: 70%;
}
#products{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#youvideo{
    position: relative;
    width: 70%;
    height: 70%;
    border: 1px solid red;
    align-self: center;

}
#partrombone{
    margin-top: 30px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
}
.TROMBONE
{
    width: 30%;
    border-top: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: black;
    border-style: solid;
}
.TROMBONE > h1 {
    background-color: gainsboro;
    margin: 0px;
    height: 1.5em;
    text-align: center;
}
.plansummary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plan{
    width: 45%;
    text-align: center;
}
.Selectplan{
    border: none;
    background-color: gold;
    width:30% ;
    height:30% ;
    margin-bottom:10px ;
}
#ourFooter{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: gainsboro;
}
#footerContent{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#footerLinks{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footerLinks > a{
    font-size: 12px;
}